body {
  min-height: 2000px;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding: 2rem 1rem;
  background: url('../img/mbr-1-1920x1280.jpg') center/cover;
  background-size: cover;
}
